@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Playfair+Display:400,400i,700,700i');

body {
    font-family: 'Lato';
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url("/static/images/luca-bravo-272609.jpg") no-repeat center center;
    background-size: cover;
    height: 400px;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
    top: 0;
    left: 0;
    background: rgba(25,29,34,.4);
}

header .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    margin-top: 40px;
}

header .hero h1 {
    font-family: 'Playfair Display';
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 4;
}

header .hero p {
    font-family: 'Lato';
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    z-index: 4;
}

header nav {
    float: left;
    z-index: 4;
    width: 960px;
    margin: 0 auto;
}

header nav .logo {
    float: left;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 82.8125%;
    margin-right: 0;
    text-align: right;
}

header nav ul li {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
}

header nav ul li a {
    padding: 3px 15px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    display: block;
    transition: all .2s ease-in-out;
    letter-spacing: .05em;
    cursor: pointer;
}

header nav ul li a:hover {
    color: #f36;
}

main {
    margin: 0 auto;
    width: 960px;
}

main h2 {
    text-align: center;
}

.characteristics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px 0 10px 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 1em;
}

.card h3 {
    font-family: 'Playfair Display';
}