@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Playfair+Display:400,400i,700,700i');

body {
    font-family: 'Lato';
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}

.container {
    max-width: 960px;
}

header {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    background: url("/static/images/luca-bravo-272609.png") no-repeat center center;
    background-size: cover;
    height: 400px;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
    top: 0;
    left: 0;
    background: rgba(25,29,34,.4);
}

header .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    /*margin-top: 40px;*/
    min-height: 300px;
    padding: 0 10px;
    text-align: center;
}

header .hero h1 {
    font-family: 'Playfair Display';
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 4;
}

header .hero p {
    font-family: 'Lato';
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    z-index: 4;
}

header nav {
    /*float: left;*/
    z-index: 4;
    width: 960px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

header nav .logo {
    /*float: left;*/
    background: url('images/pwa-light.png') no-repeat top left;
    background-size: 100px 37px;
    width: 100px;
    height: 37px;
    text-indent: -9999px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*float: left;*/
    /*width: 82.8125%;*/
    margin-right: 0;
    /*text-align: right;*/
}

header nav ul li {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
}

header nav ul li a {
    padding: 3px 15px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    display: block;
    transition: all .2s ease-in-out;
    letter-spacing: .05em;
    cursor: pointer;
}

header nav ul li a:hover {
    color: #f36;
}

main {
    margin: 0 auto;
    max-width: 960px;
}

main h2 {
    text-align: center;
}

main section {
    margin: 40px 0;
    min-height: 300px;
}

section#about {
    display: flex;
}

section#about .media-img {
    margin-right: 20px;
    /*width: 400px;*/
    flex: 1;
}

section#about .media-img img {
    max-width: 100%;
    height: auto;
}

section#about .details {
    /*font-size: 24px;*/
    font-family: 'Playfair Display';
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    flex: 2;
}

section#about .details h2 {
    text-align: left;
}

.characteristics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px 0 10px 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 1em;
}

.card h3 {
    font-family: 'Playfair Display';
}

.photo-credit {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
}

.photo-credit.no-curves {
    border-radius: 0;
}

.add-button {
  /*position: absolute;*/
  /*top: 1px;*/
  /*left: 1px;*/
  padding: 1em .5em;
  border: none;
  border-radius: 5px;
  background-color: #34A5DA;
  cursor: pointer;
  color: #FFFFFF;
}

.offline-notification {
    display: none;
    padding: 1em;
    text-align: center;
}

.offline-notification.show {
    background-color: red;
    color: white;
    display: block;
}

@media screen and (max-width: 960px) {
    main {
        max-width: 768px;
    }

    header nav {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    main {
        max-width: 480px;
    }

    header nav {
        width: 480px;
    }

    #about {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    main {
        max-width: 320px;
    }

    header nav {
        width: 320px;
        flex-direction: column;
        /*justify-content: ;*/
        align-items: center;
    }

    header nav ul {
        margin: 10px 0;
    }
}

@media screen and (max-width: 320px) {
    main {
        max-width: 240px;
    }

    header nav {
        width: 240px;
    }
}