<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="theme-color" content="#34A5DA">
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='images/android-launchericon-192-192.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
    <title>Flask PWA</title>
    <meta name="description" content="A demo flask progressive web app">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">PWA Inc.</div>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#characteristics">Characteristics</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
        <div class="hero">
            <h1>Flask Progressive Web App (PWA)</h1>
            <p>The next BIG thing for the mobile web!</p>
        </div>
    </header>
    <main>
        <div class="container">
            {% block body %}

            {% endblock %}
        </div>
    </main>
    <footer>
        <p>&copy; Flaskr Inc.</p>
    </footer>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>